# Verification

**Properties**

| Name  | Type   | Required | Description |
| :---- | :----- | :------- | :---------- |
| Type  | string | ❌       |             |
| Value | string | ❌       |             |
